{% extends 'base/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/draw-detail.css' %}">
{% endblock head %}

{% block content %}
<div class="detail-container">
    <div class="detail-card">
        <div class="image-wrapper">
            <img class="drawing-image" src="{{ drawing.imglink }}" alt="{{ drawing.title }}">
        </div>
        <div class="content-wrapper">
            <h1 class="drawing-title">{{ drawing.title }}</h1>
            <p class="drawing-description">{{ drawing.description }}</p>
            <div class="drawing-meta">
                <span class="creation-date">Created {{ drawing.created_at|date:"F j, Y" }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}